{% extends "base.html" %}
{% block title %}Contacto{% endblock %}

{%block content %}

<form accept="" method="post" novalidate >
    <!--Para incluir implementar la seguridad contra el atque CSRF-->
    {{ form.hidden_tag() }}
    <!--Nombre-->
   
    {{ form.name.label}}
    {{ form.name(size=25)}}
    {% for error in form.name.errors %}  
    <span style="color: red">{{error}}</span>
    <br>
    {% endfor %}
    <br>

    <!--email-->
    {{ form.email.label}}
    {{ form.email}}
    {% for error in form.email.errors %}  
    <span style="color: red">{{error}}</span>
    <br>
    {% endfor %}
    <br>

    <!--password-->
    {{ form.password.label}}
    {{ form.password}}
    {% for error in form.password.errors %}  
    <span style="color: red">{{error}}</span>
    <br>
    {% endfor %}
    <br>
    <!--Botón de envío-->
    {{form.submit()}}
</form>

{% endblock %}