<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web Aprendiendo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">


</head>
<body>
    Este es el mensaje de la página creada
    <!-- 3ºEn la app desarrollamos la clave que está dentro del render para
    Ahora debemos de transcribir aquí el valor para que surga los cambios-->
    <br/>
    {{numeros_empleados}}
    <br/>
    <!-- Vinculo a la url quienes somos -->
    
    <!-- 1º -->
    <!-- <a href = "/quienes">A la página de quienes</a> -->

    <!-- 2º -->
    <a href =  "{{'/quienes'}}">A la página de quienes</a>
</body>
</html>