{% extends "base.html" %}
{% block title %}Página datos de  usuario {{nombreusuario}} y con id : {{id}}{% endblock %}

{%block content %}
    Este es el mensaje de la página creada
    <!-- 3ºEn la app desarrollamos la clave que está dentro del render para
    Ahora debemos de transcribir aquí el valor para que surga los cambios-->
    <br/>
    {{numeros_empleados}}
    <br/>
    <!-- Vinculo a la urls quienes somos -->
    
    <!-- 1º -->
    <!-- <a href = "/quienes">A la página de quienes</a> -->

    <!-- 2º -->
    <!--<a href =  "{{ url_for('quienes') }}">A la página de quienes</a> -->


    <!-- Supongamos que la url que queremos linkear tenga parámetros -->
    <a href =  "{{ url_for('usuario',numerousuario = 9 )}}">A la página del usuario</a>

{% endblock %}